<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
	<div id="hello">
	</div>

	<script type="text/html" id="hello-template">
		<p>The ID is <%= id %></p>
		<p>The content is <%= content %></p>
	</script>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/handlebars/dist/handlebars.min.js"></script>
<script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
<script type="text/javascript" src="node_modules/backbone/backbone-min.js"></script>
<script type="text/javascript" src="node_modules/requirejs/require.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>