*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

header {
	font-size: 15px;
	padding: 50px;
	float: left;
	width: 20%;  
	display: inline-block; 
	font-weight: bold;
}

.header {
	width: 100%;
	height: 200px;
	display: block;
}

.header .title {
	display: inline-block;
	padding: 50px 100px 0 20px;x
}

.header .article {
	max-width: 70%;
	float: right;
	display: inline-block;
	padding: 50px 100px 0 20px;
}

.article p {
	font-size: 15px;
	display: inline-block;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.hover-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	opacity: 0;
	padding: 10px;
	transition: opacity 0.5s;
}







/*____________________________________________________________________________________________________________________________________________________*/


figure {
	line-height:0em;
	overflow:hidden;
}

img {
	max-width:100%;
	position:relative;
	clear:both;

}

.grid-cell {
	position:relative;
	width:33%;
	min-height:1em;
	overflow:hidden;
	display: block;
	font-size: 1em;
	margin: 0;
}

.grid-cell:hover .hover-text {
	opacity: 0.6;
}

.float-left {
	float: left;
}

/*______________________________________________________________________________________________________________________________________________________*/

.greyscale-filter {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

	.do-greyscale .image-effect {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		filter: gray;
		-webkit-filter: grayscale(100%);
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

.do-greyscale:hover .image-effect {
	filter: none;
	-webkit-filter: grayscale(0%);
}

